<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="/layout :: head"></head>-->
<!--<body>-->
<!--<h3>View Blog</h3>-->
<!--<p>-->
<!--    <a th:href="@{/blog/list}">-->
<!--        Back to blog list-->
<!--    </a>-->
<!--</p>-->
<!--<div id="detail">-->
<!--    <div class="cusdetail">-->
<!--        <label><b>Name: </b></label>-->
<!--        <label th:text="${blog.nameBlog}"></label>-->
<!--    </div>-->
<!--    <div class="cusdetail">-->
<!--        <label><b>Content: </b></label>-->
<!--        <label th:text="${blog.content}"></label>-->
<!--    </div>-->
<!--    <div class="cusdetail">-->
<!--        <label><b>Day Create: </b></label>-->
<!--        <label th:text="${blog.starDate}"></label>-->
<!--    </div>-->
<!--</div>-->
<!--<footer th:replace="/layout :: footer"></footer>-->
<!--</body>-->
<!--</html>-->

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Blog</h3>
<p>
    <a th:href="@{/blog/list}">
        Back to blog list
    </a>
</p>
<div id="form">
    <div>
        <label>Id blog: </label>
        <label th:text="${id}"/>
    </div>
    <div>
        <label>Name blog: </label>
        <label th:text="${blog.getNameBlog()}"/>
    </div>
    <div>
        <label>Date Create blog: </label>
        <label th:text="${blog.getStarDate()}"/>
    </div>
    <div>
        <label>Blog Content: </label>
        <label th:text="${blog.getContent()}"/>
    </div>
    <div>
        <label>Category Name:</label>
        <span th:text="${blog.getCategory().getNameCategory()}"></span>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>